.highlighted {
  background-color: #ffff66;
  color: #000000;
}

.add-rule {
  background-color: #ffffff;
  color: #00ff00;
}

.remove-rule {
  background-color: #ffffff;
  color: #ff0000;
}

#player-rules-board-header {
  /*text-align: center;*/
}

#roll-button {
  background-color: #000000;
  color: #ffffff;
  display: block;
}

.quarter-split {
  width: 22%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  border: 3px solid blue;
}

.half-split {
  width: 47%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  border: 3px solid red;
}

.full {
  width: 90%;
  display: block;
  border: 3px solid orange;
}

#placeholder {
  width: 22%;
  display: block;
  border: 3px solid magenta;
}

#player-scoreboard {
  /*border: 3px solid black;*/
}

#player-rules-board {
  /*border: 3px solid black;*/
  margin-top: 0px;
}

.common-rule {
  width: 100%;
  background-color: #f2f2f2;
  border: 2px solid #bfbfbf;

}

.rare-rule {
  width: 100%;
  background-color: #0066ff;
  border: 2px solid #0047b3;
  color: #ffffff;
}

.legendary-rule {
  width: 100%;
  background-color: #ff9900;
  border: 2px solid #cc7a00;
}
